body{
    background-color: #e3e3e3;
    margin: 0px;
}

#heading {
    /*Background*/
    background-color: #262424;
    height : 50px;

    /*Text*/
    color: #faf5f5;
    font-family: Arial;
    display: flex;
    align-items: center;

}

.homeButton{
    /*Background*/
    border: none;
    background: none;

    /*Text*/
    color: #faf5f5;
    font-size: 15px;

    /*Alignment*/
    float: right;
    

    /*Spacing*/
    margin-right: 10px;
    margin-left: 10px;
     
}

.homeButton:hover{
    opacity: 50%;
    text-decoration: underline;
}

#header{
     /*Background*/
     border: none;
     background: none;
 
     /*Text*/
     color: #faf5f5;
     font-size: 20px;
     
 
     /*Spacing*/
     margin-right: 50%;
     margin-left: 5%;
}


#userOptions{
    /*Background*/
    background-color: white;

    /*Sizing and positioning*/
    width: 300px;
    height: 110px;
    float:right;
    margin-right: 16%;
}

.userStuff{
    /*Background*/
    background-color: white;

    /*Hide buttons*/
    display: none;

    /*Sizing and alignments*/
    width: 100%;
    text-align: left;
    font-size: 20px;

}

#dropdown_menu{
    list-style-type: none;
}
