.homeButton a {
    text-decoration: none;
    /* removes underlines */
    color: #faf5f5;
    /* inherits the color from the parent element */
}

.homeButton a:hover {
    text-decoration: underline;
    /* adds underline on hover */
}

#signin a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 3px solid white;
}