#loginScreen{
    /*border: 3px solid black;*/
    background-color: white; /*Temp bg colour*/
    box-shadow: 10px 10px #959696;
    border-radius: 25px;

    /*Positioning*/
    width: 30%;
    height: 500px;
    padding: 20px;
    margin-top: 5%;
    margin-left: 35%;

    /**/
    text-align: center;
}

#loginForm{
    width: 70%;
    margin-left: 15%;
    /*border: 3px solid black;*/
}

.loginDetails{
    width:100%;
    border-radius: 25px;
    margin-bottom: 5%;
}

#signin2{
    background-color: #383838;
    color:#e3e3e3;
}

#password{
    margin-bottom: 5px;
}

.showPassword{
    float:left;
}