.cover_img {
	width: 100%;
	color: #ffffff;
	object-fit: cover;
	height: 400px;
}

.recipeContent {
	margin: 56px 64px;
}

.recipeStepBox {
	background-color: #F6F6F6;
	border-radius: 10px;
	padding: 16px;
}