<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MealMate | Create Recipe</title>
        <!--Include the header's css and js files-->
        <link rel="stylesheet" href="../css/main.css">
        <link rel ="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/recipeDetails.css">
        <link rel="stylesheet" href="../css/searchRecipe.css">

        <!-- Toastr Js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">

        <!--Include bootstrap's stuff-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!--To include icons. *only use free icons. Premium icons wont show up-->
        <script src="https://kit.fontawesome.com/b2f3636b4c.js" crossorigin="anonymous"></script>
    </head>

    <body id="body">
        <!--Navigation Bar -->
        <div th:insert="fragments/navbar.html :: navbar"></div>

        <div class="container p-5">
            <h1 class="mb-5">Create Recipe</h1>

            <form id="newRecipeForm" name="newRecipeForm">

                <h4 class="mb-4">General Information</h4>

                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <label for="title"><h6 class="form-label mb-2">Recipe Title</h6></label>
                        <input type="text" id="title" class="form-control" placeholder="Recipe Title" required>
                    </div>

                    <div class="col-12 col-lg-4 mb-4">
                        <label for="servingSize"><h6 class="form-label">Serving Size</h6></label>
                        <input type="number" id="servingSize" class="form-control" placeholder="Serving Size" required>
                    </div>

                    <div class="col-12 col-lg-4 mb-4">
                        <label for="prepTime"><h6 class="form-label">Preparation Time</h6></label>
                        <input type="number" id="prepTime" class="form-control" placeholder="Preparation Time (in hours)" required>
                    </div>
                </div>

                <br>

                <div class="row">
                    <!-- Recipe Image -->
                    <div class="col-12 col-lg-6 mb-4">
                        <label for="image"><h6 class="form-label">Recipe Image</h6></label>
                        <input id="image" class="form-control pl-0" type="file" onchange="getImage(this)">
                    </div>

                    <!-- Diet Type -->
                    <div class="col-12 col-lg-6 mb-4">
                        <label><h6 class="form-label">Diet Type</h6></label><br>
                        <div class="form-check form-check-inline mb-4">
                            <input class="form-check-input" type="checkbox" name="dietType" value="dairy free" id="dairyFree">
                            <label class="form-check-label" for="dairyFree">
                                Dairy-Free
                            </label>
                        </div>

                        <div class="form-check form-check-inline mb-4">
                            <input class="form-check-input" type="checkbox" name="dietType" value="gluten free" id="glutenFree">
                            <label class="form-check-label" for="glutenFree">
                                Gluten-Free
                            </label>
                        </div>

                        <div class="form-check form-check-inline mb-4">
                            <input class="form-check-input" type="checkbox" name="dietType" value="vegan" id="vegan">
                            <label class="form-check-label" for="vegan">
                                Vegan
                            </label>
                        </div>

                        <div class="form-check form-check-inline mb-4">
                            <input class="form-check-input" type="checkbox" name="dietType" value="vegetarian" id="vegetarian">
                            <label class="form-check-label" for="vegetarian">
                                Vegetarian
                            </label>
                        </div>
                    </div>
                </div>

                <br>

                <!-- Description -->
                <label for="desc"><h6 class="form-label mb-3">Description</h6></label>
                <div class="row">
                    <div class="col-12 mb-3">
                        <textarea id="desc" class="form-control" placeholder="Recipe Description" rows="4" required></textarea>
                    </div>
                </div>

                <hr class="my-5">

                <!-- Ingredients Section -->                
                <div class="row">

                    <!-- Search Ingredients -->
                    <div class="col-12 col-lg-6">
                        <label><h4 class="mb-4">Search Ingredients</h4></label>

                        <div class="input-group">
                            <input id="ingredientInput" class="form-control searchBar" type="search" placeholder="Enter ingredient name..." name="ingredientInput">

                            <button type="button" class="input-group-text" onclick="searchIngredient()">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <br>

                        <div>
                            <!-- some spinner 
                            <div id="searchSpinner" class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div> -->

                            <ul id="searchResults" class="p-0">
                                <!-- Some static data 
                                <li>
                                    <img src="https://spoonacular.com/cdn/ingredients_100x100/apple.jpg">
                                    Apple
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-ingredientID="" onclick="displayModalDetails()"><i class="fa-solid fa-plus"></i></button>
                                </li>

                                <li>
                                    <img src="https://spoonacular.com/cdn/ingredients_100x100/applesauce.png">
                                    apple sauce
                                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                                </li>-->
                            </ul>
                        </div>
                    </div>

                    <!-- Selected Ingredients -->
                    <div class="col-12 col-lg-6">
                        <label><h4 class="mb-4">Ingredient List</h4></label>

                        <p id="noItemsMsg" class="fst-italic text-muted">No items yet</p>

                        <ul id="ingredientList" class="p-0">

                        </ul>
                    </div>
                </div>
                

                <hr class="my-5">

                <!-- Steps Section -->
                <label class="mb-3"><h4>List of Steps</h4></label>
                <br>
                <textarea id="stepInput" class="form-control" placeholder="Enter Step Instructions Here..." rows="2"></textarea><br>
                <button type="button" class="btn btn-accent mb-4" onclick="addStep()"><i class="fa-solid fa-plus"></i> Add Step</button>

                <div id="stepsList">

                </div>

                <hr class="my-5">

                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-accent" onclick="createRecipe()">Create Recipe</button>
                </div>
                
            </form>
        </div>

        <!-- Add Ingredient Modal -->
        <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ingredientModalLabel">Add <span id="modalName">Ingredient Name</span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3">
                                <label for="quantity"><h6>Quantity (in <span id="quantityUnit"></span>)</h6></label>
                                <input id="quantity" class="form-control" type="number" placeholder="Quantity" oninput="calculateNutrition()"/>
                            </div>

                            <div class="col-12 col-lg-6 mb-3">
                                <label><h6>Nutrition Values</h6></label>
                                <p id="nutritionValues">Not calculated yet</p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-accent" onclick="addIngredient()">Add to List</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script src="../js/header.js"></script>
        <script src="../js/createRecipe.js"></script>
    </body>
</html>