<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MealMate | Login</title>

        <!-- Stylesheets -->
        <th:block th:insert="fragments/style.html :: style"></th:block>
        <link rel="stylesheet" href="css/loginRegister.css">

    </head>
    <body id="body">
        <!-- Navigation Bar -->
        <div th:insert="fragments/navbar.html :: navbar"></div>

        <!--Login screen stuff-->
        <div id="loginScreen">
            <img id="mealMateLogo" class="mb-5" src="../images/mealmate.png">

            <form id="loginForm" name="userDetails">
                <div class="row">
                    <input type="text" id="username" placeholder="Username" name="username" class="form-control mb-4" required>

                    <input type="password" id="password" placeholder="Password" name="password" class="form-control mb-2" required>
                </div>
                
                <div class="showpassword mb-4">
                  <input id="showPassword" type="checkbox" name="ShowPassword" class="showPassword">
                  <label class="showPassword" for="showPassword">Show Password</label>
                </div>

                <div class="d-grid gap-2 mb-3">
                  <button class="btn btn-accent loginDetails" type="button" id="signin2">Sign In</button>
                </div>
                Don't have an account yet?<br>
                Click
                <a href="/register">here</a> <!--Link changed from basetemplate to registrationś-->
                to sign up!
            </form>
        </div>

        <!-- Scripts -->
        <th:block th:insert="fragments/scripts.html :: scripts"></th:block>
    </body>
</html>