<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MealMate</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel ="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/recipeDetails.css">
        <link rel="stylesheet" href="../css/searchRecipe.css">

        <!-- Scripts -->
        <script src="../js/header.js"></script>
        <script src="../js/recipeDetails.js"></script>

        <!--Include bootstrap's stuff-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!--To include icons. *only use free icons. Premium icons wont show up-->
        <script src="https://kit.fontawesome.com/b2f3636b4c.js" crossorigin="anonymous"></script>
    </head>

    <body id="body" onload="getRecipeDetails()">
        <!--Navigation Bar -->
        <div th:insert="fragments/navbar.html :: navbar"></div>

        <div class="container p-0">
            <img id="recipeImg" class="cover_img">

            <div class="recipeContent">
                <h2 id="recipeTitle">Recipe Title</h1>
                <p class="mt-3">Published on <span id="datePublished" class="fw-bold text-muted">11 March 2023</span> by <span id="author" class="fw-bold text-muted">JohnDoe</span></p>

                <button type="button" class="btn btn-primary btn-accent btn-sm px-4"><i class="fa-solid fa-plus"></i> Add to Meal</button>

                <button type="button" class="btn btn-primary btn-accent btn-sm px-4"><i class="fa-solid fa-bookmark"></i> Add to Bookmarks</button>

                <!-- Details -->
                <div class="row mt-4 mb-5">
                    <div class="col-sm-12 col-lg-4">
                        <h5><i class="fa-solid fa-clock"></i> Preparation Time</h5>
                        <span id="preparationTime">1</span>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <h5><i class="fa-solid fa-utensils"></i> Serving Portions</h5>
                        <span id="servingSize">2</span>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <h5><i class="fa-solid fa-seedling"></i> Nutrition</h5>
                        <span id="calories">300</span>
                    </div>
                </div>

                <!-- Description -->
                <h5>Description</h5>
                <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <hr class="mt-5 mb-5">

                <div class="row">
                    <div class="col-sm-12 col-lg-3">
                        <h5>Ingredients List</h5>

                        <ul id="ingredientList" class="p-0">

                        </ul>
                        <!--
                        <ul>
                            <li>120g Butter</li>
                            <li>100g Sugar</li>
                            <li>2 Eggs</li>
                            <li>120g All-Purpose Flour</li>
                            <li>2g Baking Powder</li>
                            <li>50ml Fresh Milk</li>
                        </ul>
                    -->
                    </div>

                    <div class="col-sm-12 col-lg-9">
                        <h5>Steps</h5>

                        <div id="stepsList">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add to Meal Modal -->
        <div class="modal fade" id="addMealModal" tabindex="-1" aria-labelledby="addMealModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addMealModalLabel">Add <span id="modalName">Add to Meal</span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-lg-9 mb-3">
                                
                            </div>

                            <div class="col-12 col-lg-3 mb-3">

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-accent" onclick="addIngredient()">Add to List</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>