<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>MealMate | Registration</title>

    <!-- Stylesheets -->
    <th:block th:insert="fragments/style.html :: style"></th:block>
    <link rel="stylesheet" href="css/loginRegister.css">
  </head>

  <body id="body">
    <!--Navigation Bar -->
    <div th:insert="fragments/navbar.html :: navbar"></div>

    <div id = "regScreen">
      <img id="mealMateLogo" class="mb-5" src="../images/mealmate.png">

      <form id="regForm" name="userDetails">
        <div class="row">
          <!-- Username -->
          <div class="col-12 col-lg-6 mb-4">
            <input class="form-control" type="text" id="username" placeholder="Username" name="username" required>
          </div>

          <!-- Email Address -->
          <div class="col-12 col-lg-6 mb-4">
            <input class="form-control" type="email" id="email" placeholder="Email Address" name="email" required>
          </div>
        </div>

        <div class="row">
          <!-- Password -->
          <div class="col-12 col-lg-6 mb-4">
             <input class="form-control" type="password" id="password" placeholder="Password" name="password" required>
          </div>

          <!-- Confirm Password -->
          <div class="col-12 col-lg-6 mb-4">
            <input class="form-control" type="password" id="confirm-password" placeholder="Confirm Password" name="confirm-password" required>
          </div>
        </div>

        <div class="row">
          <!-- Weight -->
          <div class="col-12 col-lg-6 mb-sm-4 mb-lg-2 mb-4">
             <input class="form-control" type="number" id="weight" placeholder="Weight (in kg)" name="weight">
          </div>

          <!-- Height -->
          <div class="col-12 col-lg-6 mb-sm-4 mb-lg-2 mb-4">
            <input class="form-control" type="number" id="height" placeholder="Height (in cm)" name="height">
          </div>
        </div>

        <div class="showpassword mb-4">
          <input id="showPassword" type = "checkbox" name = "ShowPassword" class="showPassword">
          <label class="showPassword" for="showPassword">Show Password</label>
        </div>

        <div class="d-grid gap-2 mb-3">
          <button class="btn btn-accent" type="button" id="register">Sign Up</button>
        </div>

        Already have an account?<br>
        Click
        <a href="/login">here</a> <!--Link changed from basetemplate to registrationś-->
        to sign in!

      </form>
    </div>

    <!-- Scripts -->
    <th:block th:insert="fragments/scripts.html :: scripts"></th:block>
    <script src="js/registration.js"></script>
  </body>
</html>