<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MealMate</title>

        <!-- Stylesheets -->
        <th:block th:insert="fragments/style.html :: style"></th:block>
        <link rel ="stylesheet" href="../css/supermarketSearch.css">

    </head>
    <body id = "bodyy">
        <!-- Navigation Bar -->
        <div th:insert="fragments/navbar.html :: navbar"></div>

        <div id = "searchSupermarket">
            <header id = "supermarket_header">Browse Stores</header>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Address" aria-label="storeName" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enter</button>
            </div>

            <div id = "map">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4iZaPWXAnyjm3siO3GaFQ7YhuOIC8KAk&libraries=places&callback=initMap&v=weekly" async></script>

                <!--<script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4iZaPWXAnyjm3siO3GaFQ7YhuOIC8KAk&callback=initMap&v=weekly"
                defer
                ></script>-->
            </div>
            </div>

        </div>

        <!-- Scripts -->
        <script src = "js/supermarketSearch.js"></script>
    </body>
</html>
