:root {
	--accent: #313131; /* currently a dark grey, can change when we decide on an accent color */
	--light-accent: #707070; /* similar to above comment */
}

#body{
    background-color: #f6f6f6;
    font-family: Poppins;
    /*margin: 0px;*/
}

a {
    text-decoration: none !important;
}

.container {
	background-color: #fff;
}

.btn-accent {
	border-radius: 50px !important;
	background-color: var(--accent) !important;
	border-color: var(--accent) !important;
	color: #fff !important;
}

.btn-accent:hover {
	background-color: var(--light-accent) !important;
	border-color: var(--light-accent) !important;
}

input.form-control,
select.form-select  {
	border-radius: 48px !important;
	padding: 0.35rem 1.5rem !important;
}

.input-group input.form-control {
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group .input-group-text {
    background-color: transparent !important;
    border-left: none !important;
}

.input-group .input-group-text {
    border-top-right-radius: 48px !important;
    border-bottom-right-radius: 48px !important;
}

input[type="file"].form-control {
    padding: 0.35rem 10px !important;
}

.homeButton a {
    text-decoration: none;
    /* removes underlines */
    color: #faf5f5;
    /* inherits the color from the parent element */
}

.homeButton a:hover {
    text-decoration: underline;
    /* adds underline on hover */
}

#signin a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 3px solid white;
}